/* Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax */

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.img-1 {
    background-image: url("/images/bg-1.jpg");
}
.img-2 {
    background-image: url("/images/bg-2.jpg");
}
.img-3 {
    background-image: url("/images/bg-3.jpg");
}
.img-4 {
    background-image: url("/images/bg-4.jpg");
}

.img-1, .img-2, .img-3, .img-4 {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.text-1, .text-2, .text-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #1C4823;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
}

.text-1 {
    flex-direction: column;
}
.text-2, .text-3 {
    flex-direction: row;
}

.text-2 p, .text-3 p {
    padding: 5vw;
}
